<!DOCTYPE html>
    <head>
        {{>head}}
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by <b>{{name}}</b>. It uses data from Mapbox.com and Darksky.net!</p>
            <img class="portrait" src="img/Cristian-avatar.png">
        </div>
        {{>footer}}
    </body>
</html>