<!DOCTYPE html>
    <head>
        {{>head}}
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{name}}</p>
            <img class="portrait" src="img/Cristian-avatar.png">
        </div>
        {{>footer}}
    </body>
</html>