<!DOCTYPE html>
    {{>head}}
    <body>
        <div class="main-content">
            {{>header}}
            <p><b>Get your local Weather</b></p>
            
            <form>
                <input placeholder="Enter your location">
                <button>Search </button>
            </form>
            <p id="message-1"></p>
            <p id="message-2"></p>
        </div>

        {{>footer}}
        <script src="/js/app.js"></script>
    </body>
</html>